body {
  background-color: rgb(190, 190, 190);
  position: absolute;
}

.button-login {
  position: relative;
}

.login-block {
  display: flex;
  border: 10px solid beige;
  flex-direction: column;
  margin-left: 430px;
}